<div>
    <div *ngFor="let key of fruitKeys">
        {{ key }} Amount {{ fruitsMap.get(key) }}
        <div [ngSwitch]="key">
            <p *ngSwitchCase="FruitType.Apple">
                Nutrition Fact: Low in calories, high in fiber, and rich in vitamin C.
            </p>
            <p *ngSwitchCase="FruitType.Banana">
                Nutrition Fact: Excellent source of potassium and energy.
            </p>
            <p *ngSwitchCase="FruitType.Orange">
                Nutrition Fact: Packed with vitamin C and antioxidants.
            </p>
            <p *ngSwitchDefault>Nutrition Fact: Unknown </p>
        </div>
    </div>
</div>
