<div>
    <a routerLink="/binding">
        Binding Demo
    </a>
</div>
<div>
    <a routerLink="/communication">
        Communication Demo
    </a>
</div>
<div>
    <a routerLink="/ngfor">
        ngFor Demo
    </a>
</div>
<div>
    <a routerLink="/ngif">
        ngIf Demo
    </a>
</div>
<div>
    <a routerLink="/routerdemo/99">
        router Demo 99
    </a>
</div>
<div>
    <a [routerLink]="['/routerdemo/','88']">
        router Demo 88
    </a>
</div>
<div>
    <a routerLink="/forms">Forms Demo</a>
</div>
<div>
    <a routerLink="/persons">Person Management End 2 End</a>
</div>
<div>
    <a routerLink="/pipes">Pipes Demo</a>
</div>
<div>
    <a routerLink="/errors">Errors Demo</a>
</div>
